.Card {
display: flex;
flex-wrap: wrap;
padding: 18px;
}

.ArticleImg img {
    width: 380px;
    max-width: 100%;
}

.ArticleInfo {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.ArticleTag {
background: #000;
color: #fff;
padding: 5px;
border-radius: 4px;
margin-right: 15px;
display: inline-block;
margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
    .ArticleInfo {
      flex: 2;
      padding-left: 25px;
      text-align: left;
    }
  }